/* ======== navbar ======== */

.nav-link {
  font-weight: 400;
}

.navbar-brand {
    background-image: url("https://arbazmotorsport.pl/static/banner.png") !important;
    background-size: auto 100%;
    margin-right: 15px;
    background-repeat: no-repeat;
    color: transparent !important;
    width: 87px;
    filter: grayscale(1) brightness(1.6);
    transition: 0.3s;
}

.navbar-brand:hover {
    filter: grayscale(0) brightness(1);
}

.navbar.bg-primary, .border-primary {
  border-color: #57FFD7;
  border-left-color: black;
  border-right-color: black;
  background-color: black !important;
}

.dropdown-toggle::after {
  vertical-align: .2em;
}

.badge {
  padding: .4em, .4em;
}

/* ======== dropdown ======== */

.dropdown-menu {
  font-size: .95rem;
  background-color: black !important;
  border: 1px solid #57FFD7;
  border-radius: 0px;
  border-width: 0px 0px 4px 0px;
  border-top-width: 0px;
  padding: 0;
}

.dropdown-header {
  padding-left: 6px;
}

.dropdown-item {
  color: white;
  font-weight: 500;
  background: black;
  padding: .45rem 1.5rem;
}

.dropdown-item:hover {
  background: black;
  color: #57FFD7;
}

.dropdown-item:active, .dropdown-item:focus {
  /*
  letter-spacing: .05rem;
  text-indent: -.05rem;
  */
  background-color: black;
  color: #57FFD7;
}

.dropdown-divider {
  margin: 0;
  border-top: 1px solid #57FFD7;
}

.dropdown-menu.show {
  animation: fadeIn 300ms cubic-bezier(.23,1,.32,1);
  transform-origin: top center;
}
.dropdown-menu.show .dropdown-item {
  animation: slideOut 300ms cubic-bezier(.08,.82,.17,1);
  transform-origin: top center;
}

@keyframes slideOut {
  0% {
    padding: .1rem 1.5rem;
  }
  100% {
    padding: .45rem 1.5rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ======== buttons ======== */

.btn {
  border-width: 0 0 4px 0;
  border-radius: 0rem;
  transition: background-color 0.2s ease-out, border-color 0.2s, ease-out;
}

.btn:not(.disabled):hover {
  margin-top: 1px;
  border-bottom-width: 3px;
}

.btn:not(.disabled):active {
  margin-top: 3px;
  border-bottom-width: 1px;
}

/* ======== Championship page ======== */

.gsheets-table {
	width: 100%;
  position: relative;
	top: -30px;
  left: -1px;
	overflow: hidden;
	margin-bottom: -62px;
  border: 0;
  border-style: none;
}

.nav-tabs, .tab-content {
	position: relative;
	left: 50%;
	margin-left: -46vw;
	width: 92vw;
    }

.nav-item {
  flex-grow: 1;
  text-align: center;
}

.table {
  margin-bottom: 0;
}

.tab-pane {
  min-width: 48rem;
}

.tab-content {
  overflow: auto;
}

.modal-dialog {
	transform: none;
	box-shadow: 0px 0px 0px 20vw rgba(0, 0, 0, 0.5);
	margin-top: 80px;
}

.modal-backdrop {
  width: 0;
  height: 0;
}

/* ======== colors ======== */

:root {
  --primary: #0FFFFF;
  --secondary: #EEEEEE;
  --success: #8BFD00;
  --info: #B569B5;
  --warning: #FFB70F;
  --danger: #FF202F;
  --light: #FFFFFF;
  --dark: #555;
  --font-family-sans-serif:  "Inter",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* buttons */

.btn-success {
  color: black;
  background-color: #8BFD00;
  border-color: #87F500;
}

.btn-success:hover {
  color: black;
  background-color: #87F500;
  border-color: #7BE000;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  color: black;
  background-color: #7BE000;
  border-color: #70CC00;
}

.btn-primary {
  color: black;
  background-color: #0FFFFF;
  border-color: #0AFFFF;
}

.btn-primary:hover {
  color: black;
  background-color: #0AFFFF;
  border-color: #00F5F5;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: black;
  background-color: #00F5F5;
  border-color: #00E0E0;
}

.btn-warning {
  color: black;
  background-color: #FFB70F;
  border-color: #FFB60A;
}

.btn-warning:hover {
  color: black;
  background-color: #FFB60A;
  border-color: #F5AB00;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
  color: black;
  background-color: #F5AB00;
  border-color: #E09D00;
}

.btn-info {
  color: white;
  background-color: #D7ADD7;
  border-color: #D09FD0;
}

.btn-info:hover {
  color: white;
  background-color: #D09FD0;
  border-color: #C992C9;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
  color: white;
  background-color: #C992C9;
  border-color: #C284C2;
}

.btn-danger {
  color: white;
  background-color: #FF202F;
  border-color: #F50010;
}

.btn-danger:hover {
  color: white;
  background-color: #F50010;
  border-color: #E0000F;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
  color: white;
  background-color: #E0000F;
  border-color: #CC000E;
}

.btn-secondary {
  color: black;
  background-color: #EEEEEE;
  border-color: #EBEBEB;
}

.btn-secondary:hover {
  color: black;
  background-color: #EBEBEB;
  border-color: #E0E0E0;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  color: black;
  background-color: #E0E0E0;
  border-color: #D6D6D6;
}

/* badges */

.badge-danger {
  background-color: #FF202F;
}

/* text */

.text-success {
  color: #8BFD00 !important;
}

a.text-success:hover, a.text-success:focus {
  color: #7BE000 !important;
}

#event-title:hover {
  color: #00F0FF !important;
}

a {
color: #21FAFA;
}

a.card h3 {
  font-size: 1.4rem;
}

body {
  padding-top: 84px;
  background-color: black;
  font-family: "Inter",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}