/* ======== navbar ======== */

.nav-link {
  font-weight: 400;
}

.navbar-brand {
    background-image: url("https://arbazmotorsport.pl/static/banner.png") !important;
    background-size: auto 100%;
    margin-right: 15px;
    background-repeat: no-repeat;
    color: transparent !important;
    width: 87px;
    filter: invert(0);
    transition: 0.2s;
}

.navbar-brand:hover {
    filter: invert(1);
}

.navbar.bg-primary {
  border: 0;
	background: linear-gradient(269.94deg, #01FFC2 0%, #00FFF0 100%);
}

.navbar-dark .navbar-nav .nav-link {
	color: black;
  font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link:hover {
	font-weight: 500;
	letter-spacing: -.008rem;
  color: black;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
	background-color: black;
  color: white !important;
  font-weight: 500;
  letter-spacing: -.008rem;
}

.dropdown-toggle::after {
  vertical-align: .2em;
}

.badge {
  padding: .4em, .4em;
}

/* ======== dropdown ======== */

.dropdown-menu {
  font-size: .95rem;
  background-color: black !important;
  border: 1px solid #01FFC2;
  border-radius: 0px;
  border-width: 0px 0px 4px 0px;
  border-top-width: 0px;
  padding: 0;
}

.dropdown-header {
  padding-left: 6px;
}

.dropdown-item {
  color: white;
  font-weight: 500;
  background: black;
  padding: .45rem 1.5rem;
}

.dropdown-item:hover {
  background: black;
  color: #01FFC2;
}

.dropdown-item:active, .dropdown-item:focus {
  background-color: black;
  color: #01FFC2;
}

.dropdown-divider {
  margin: 0;
  border-top: 1px solid #01FFC2;
}

.dropdown-menu.show .dropdown-item {
  animation: slideOut 300ms cubic-bezier(.08,.82,.17,1);
  transform-origin: top center;
}

.multiserver-dropdown {
  overflow: hidden;
}

.twitter:hover {
  background-color: #1C99E7;
  color: white;
}

.twitch:hover {
 background-color: #694EA8;
 color: white;
}

.youtube:hover {
  background-color: #c4302b;
  color: white;
}

.discord:hover {
  background-color: #7289DA;
  color: white;
}

@keyframes slideOut {
  0% {
    padding: .3rem 1.5rem;
  }
  100% {
    padding: .45rem 1.5rem;
  }
}

/* ======== landing page ======== */

.landing-page {
  margin-top: -40px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 92vh;
}

.banner {
  background: linear-gradient(180deg, #01FFDC 0%, #00D1FF 100%);
  width: 100vw;
}

@media screen and (min-width: 992px) {
  .banner {
    height: 313px;
  }
}

.banner-title {
  color: black;
  font-weight: 900;
  font-size: 72px;
  text-transform: uppercase;
  padding-left: 4vw;
  padding-top: 90px;
}

.landing-text {
  margin: 90px 30px;
}

@media screen and (min-width: 992px) {
  .landing-text {
    margin-left: 60px !important;
  }
}


.landing-main-button {
  border: 0;
  padding: 0 30px;
  height: 64px;
  margin-top: 32px;
  background: linear-gradient(268.2deg, #00FFF0 0%, #00D1FF 100%);
  border-radius: 7.5px;
  font-size: 2rem;
  font-weight: 700;
  transition: 200ms cubic-bezier(.17,.84,.44,1);
}

.landing-main-button:hover {
	box-shadow: 0 0 20px 0px #0FFFFFB0;
	text-shadow: 0 1px 3px rgba(40,40,40,0.5), 0 -0.5px 2px rgb(80, 130, 255);
}

.landing-button-note {
  margin-top: 4px;
}

.landing-pretty {
  width: 50vw;
  margin: 60px auto;
  flex-grow: 1;
  max-width: 900px;
}

.landing-content {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100vw;
}

#rQuote {
  padding-left: 4vw;
  color: black;
  font-size: 48px;
  font-weight: 400;
  width: max-content;
}



/* landing footer */

#landing-end {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  padding-top: 1.5rem !important;
  border-top: 1px solid #dee2e6 !important;
  width: 97vw;
}

#landing-links, #landing-copyright {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (min-width: 576px) {
#landing-links {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
}

#landing-copyright {
  text-align: right;
}

@media screen and (min-width: 576px) {
#landing-copyright {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
}

#landing-copyright img {
  width: 60px;
  height: 60px;
  position: relative;
  margin-top: -10px;
  margin-left: 10px;
  float: right;
}

/* ======== buttons ======== */

.btn {
  border-width: 0;
  border-radius: 0.5rem;
  transition: filter 0.3s cubic-bezier(.23,1,.32,1);
  font-weight: 500;
  text-transform: unset;
  filter: saturate(0.95) brightness(0.95);
}

.btn:not(.disabled):hover, .btn:not(.disabled):active {
  margin-top: 0px;
  border-width: 0;
  filter: saturate(1) brightness(1);
}

.btn-sm, .btn-group-sm > .btn {
	font-size: 0.8rem;
  line-height: 1.5;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* ======== Championship page ======== */

.gsheets-table {
	width: 100%;
  position: relative;
	top: -30px;
  left: -1px;
	overflow: hidden;
	margin-bottom: -62px;
  border: 0;
  border-style: none;
}

.nav-tabs:not(#myTab), .tab-content:not(.sessions, #myTabContent), .standings-header {
	position: relative;
	left: 50%;
	margin-left: -46vw;
	width: 92vw;
}

.tab-content:not(.sessions, #myTabContent), .text-center {
  overflow: auto;
  margin-bottom: 3rem;
}

.nav-tabs {
  overflow: hidden;
}

.nav-item {
  flex-grow: 1;
  text-align: center;
}

.table {
  margin-bottom: 0;
}

.tab-pane {
  min-width: 48rem;
}

.modal-dialog {
	transform: none;
	box-shadow: 0px 0px 0px 30vw rgba(0, 0, 0, 0.5);
	margin-top: 80px;
}

.modal-backdrop {
  width: 0;
  height: 0;
}

/* ======== colors ======== */

:root {
  --primary: #0FFFFF;
  --secondary: #EEEEEE;
  --success: #8BFD00;
  --info: #B569B5;
  --warning: #FFB70F;
  --danger: #FF202F;
  --light: #FFFFFF;
  --dark: #555;
  --font-family-sans-serif:  "Inter",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* buttons */

.btn-success, .btn-success:hover, .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle, .btn-success:focus, .btn-success.focus {
  color: black;
  background-color: #8BFD00;
  border-color: #8BFD00;
}

.btn-primary, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle, .btn-primary:focus, .btn-primary.focus {
  color: black;
  background-color: #01FFC2;
  border-color: #01FFC2;
}

.btn-warning, .btn-warning:hover, .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle, .btn-warning:focus, .btn-warning.focus {
  color: black;
  background-color: #FFB70F;
  border-color: #FFB60A;
}

.btn-danger, .btn-danger:hover, .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle, .btn-danger:focus, .btn-danger.focus {
  color: white;
  background-color: #FF202F;
  border-color: #FF202F;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle, .btn-secondary:focus, .btn-secondary.focus, .btn-info, .btn-info:hover, .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle, .btn-info:focus, .btn-info.focus {
  color: black;
  background-color: #EEEEEE;
  border-color: #EEEEEE;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle, .btn-info:focus, .btn-info.focus {
	box-shadow: 0 0 0 .2rem rgba(255,255,255,0.5) !important;
}

/* badges */

.badge-danger {
  background-color: #FF202F;
}

.badge-primary {
  background-color: #01FFC2;
}

.badge-secondary {
  background-color: #444;
}

.text-black-50 {
	color: #DDD !important;
}

/* cards */

.card {
  background-color: #111;
  border-width: 0;
}

.card-header {
  background-color: #333;
}

.bg-primary, .card-header {
  border: 0;
}

.border-primary {
  border-color: #00FFF0 !important;
  border-width: 1px;
}

.bg-primary {
  background: linear-gradient(270deg, #01BAFF 0%, #00FFF0 100%);
}


.text-white {
  color: black !important;
}

/* table */

.table-bordered th, .table-bordered td {
	border: 1px solid #333;
}

.table {
  background-color: #111;
}

.table-striped tbody tr:nth-of-type(1) {
	background-color: #303030 !important;
}

.table-striped tbody tr:nth-of-type(2n+1) {
	background-color: unset;
}

/* calendar */

.fc-today {
	background: #111;
}

/* text */

.text-success {
  color: #FFFFFF !important;
}

a.text-success:hover, a.text-success:focus {
  color: #FFFFFF !important;
}

#event-title:hover {
  color: #00F0FF !important;
}

a, .card-track h3 {
color: #00FFF0;
}

a:hover, .card-track:hover h3, .car-wrapper:hover h3, .track-wrapper:hover h3 {
  color: #01BAFF;
}

body {
  padding-top: 96px;
  background-color: black;
  font-family: "Inter",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}