/* ======== navbar ======== */

.nav-link {
  font-weight: 400;
}

.navbar-brand {
    background-image: url("https://arbazmotorsport.pl/static/banner.png") !important;
    background-size: auto 100%;
    margin-right: 15px;
    background-repeat: no-repeat;
    color: transparent !important;
    width: 87px;
    filter: grayscale(1) brightness(1.6);
    transition: 0.3s;
}

.navbar-brand:hover {
    filter: grayscale(0) brightness(1);
}

.navbar.bg-primary, .border-primary {
  border-color: #57FFD7;
  border-left-color: black;
  border-right-color: black;
  background-color: black !important;
}

/* ======== dropdown ======== */

.dropdown-menu {
  background-color: black !important;
  border: 1px solid #57FFD7;
  border-radius: 0px;
  border-width: 0px 0px 4px 0px;
  border-top-width: 0px;
  padding: 0;
}

.dropdown-header {
  padding-left: 6px;
}

.dropdown-item {
  color: white;
  font-weight: 700;
  background: black;
  padding: .45rem 1.5rem;
  transition: 0.2s all cubic-bezier(.23,1,.32,1)
}

.dropdown-item:hover {
  background: black;
  color: #57FFD7;
  letter-spacing: .05rem;
  text-indent: -.05rem;
}

.dropdown-divider {
  margin: 0;
  border-top: 1px solid #57FFD7;
}

.dropdown-menu.show {
  animation: fadeIn 300ms cubic-bezier(.23,1,.32,1);
  transform-origin: top center;
}
.dropdown-menu.show .dropdown-item {
  animation: slideOut 300ms cubic-bezier(.08,.82,.17,1);
  transform-origin: top center;
}

@keyframes slideOut {
  0% {
    padding: .1rem 1.5rem;
  }
  100% {
    padding: .45rem 1.5rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ======== kolory ======== */

.text-primary, a:not(.btn):not(.nav-link):not(.navbar-brand):not(.dropdown-item):not(.text-white):not(.text-danger):not(.fc-event):not(.page-link) {
  border-color: #3DB296;
}

.bg-primary, .btn-primary, .badge-primary {
  border-color: #3DB296;
  background-color: #57FFD7 !important;
  color: black !important;
}

#event-title:hover {
  color: #00F0FF !important;
}

a {
color: #21FAFA;
}

a.card h3 {
  font-size: 1.4rem;
}

body {
  background-color: black;
  font-family: "Open Sans",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.tooltip {
  font-family: "Open Sans",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}